{{- if eq .chezmoi.os "darwin" }}
export EDITOR="code --wait"
export HBLOCK_TEMPLATE='127.0.0.1 %D\n::1 %D'
export HOMEBREW_INSTALL_BADGE='🌈'
export LC_ALL="en_US.UTF-8"
export PATH="/opt/homebrew/bin:$PATH:$HOME/bin"
{{- else }}
export EDITOR=vim
{{- end }}
