{{ if eq .chezmoi.os "linux" -}}
# This has to be the first directive to get p10k's directory text to be the
# correct color on Linux.
set -g default-terminal "screen-256color"
# /Linux
{{ end -}}
new-session
set -g base-index 1
set -s escape-time 0
setw -g aggressive-resize on
setw -g monitor-activity on
set -g visual-activity on
set -g renumber-windows on
set -g history-limit 30000
